@charset "UTF-8";

/*全体の設定*/
html,body,a{
    color:#444444;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
    text-decoration: none;
    font-family: "Times New Roman", Times, "serif";
}
/*リンクのホバー部分*/
a:hover{
    opacity:0.6;
}
/*全体の画像*/
img{
    width: 100%;
    height: 100%;
}
p{
    display: inline-block;
    text-align: left;
    margin: 10px;

}

/*ヘッダ部分*/
header{
    background-color: transparent;
    height: 100vh;
    width: auto;
    margin: auto 0;    
}
header a{
    color: #fff;
    font-weight: bold;
    text-shadow: 0 0 20px rgba(0, 0, 0, 5);
}
/*ヘッダのナビ　メニュー部分*/
.header_nav{
    position: absolute;
    right:0;
    top: 20px;
    position: fixed;
    z-index: 999;
}
.nav_menu{
    display: flex;
    margin: 0;
    padding: 20px;
}
.nav_menu li{
    padding: 0 15px;
}

/*ヘッダの背景設定*/
.bg-switcher{
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*サイトタイトル部分*/
h1.bg-title {
    color: #fff;
    font-size: 6rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
/*フッタのタイトル部分*/
.footer-title{
    font-size: 2.5rem;
}

/*各セクション部分*/
section{
    text-align: center;
}
h2{
    color:#000; 
    font-size: 2.5rem;
    text-shadow: 0 0 20px rgba(200, 200, 200, 0.8);
    margin: 0;
}

/*各wrap部分*/
.contentWrapper{
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
}
header.contentWrapper{
    padding-top: 10rem;
    padding-bottom:0; 
}

/*flex部分*/
.flex{
    display: flex;
}
.clearfix{
    text-align: center;
}
.clearfix::after{
    display: block;
    content:"";
    clear: both;
}
#works.flexcontent{
    flex-basis: auto;
    flex-grow: 1;    
}
/*news（更新履歴、新着情報の部分）*/
#news dl{
    width: 80%;
    margin: 0 auto;
}
#news dt,#news dd{
    float:left;
    text-align: left;
    padding: 10px 0;
    line-height: 160%; 
}
#news dt{
    width: 10%; 
}
#news dd{
    width: 80%;
}

/*works部分の背景*/
.bg-mask{
    height: 100%;
    background: linear-gradient(45deg,rgba(255, 255, 255, 1), rgba(116, 116, 116, 0.8));
}
/*worksの部分*/
figure.works_image{
    width: 100;
    height: 100%;
    position: relative;
    overflow: hidden;
    margin:auto;
}
figcaption.works_caption{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}
figure.works_image:hover .works_caption{
    opacity:1;
}
.works_caption p{
    width: 100%;
    padding:30px;
}

/*gallery部分*/
/*
今後テキスト差し込んだらここに*/
#gallery p{
    font-size: 1.5rem;
}

/*フッタ上、メニュー部分*/
#upperFooter{
    margin-top: 50px;
    background-color:#666666;
    color: #fff;
}
/*フッタ下*/
#bottomFooter{
    background:rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}
#upperFooter li{
    flex-grow: 1;
    flex-basis: auto;
}
footer nav{
    width: 70%;
    margin: 0 auto;
}
footer p{
    margin: 0;
}
footer a{
    color: #fff;
}
/*©の部分*/
small{
    font-weight: bold;
    padding: 20px;
    display: block;
}

/*ページトップへ戻るボタンの設定*/
#page_top{
    width: 100px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #666666;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 100px;
    height: 60px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: FontAwesome;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -25px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

/*スクロールでフェードイン*/
.fadein{
    opacity:1.5;
    transform:translate(0,50px);
    transition: all 500ms;
}
.fadein.scrollin{
    opacity: 1;
    transform:translate(0,0);   
}


/*480px以下 スマホ向け設定ここから*/
@media screen and (max-width: 480px){
    img{
        border: 0;
        max-width: 100%;
        height: auto;
    }

    .flex{
        display: block;
    }    
/*全画面表示されるナビゲーション部分*/
    .header_nav{
        background: rgba(255, 255, 255,0.9);
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        right: 0;
        z-index: 100; 
        display: none;
    }
    .nav_menu{
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 0 0 0;
    }
    .nav_menu_wrap{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        width: 100%;
    }
    .header_nav li{
        font-size: 0.85rem;
        padding: 20px;
        color: #444444;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .header_nav a {
        color: #333333;
        font-weight: normal;
        text-shadow: none;
        transition: .5s;
    }
    .header_nav a :hover{
        color: #333333!important;
    }    
    #menuWrapper{
        width: 100%;
        height: 60px;
        background: rgba(255,255,255,0);
        padding: 15px 15px 10px 15px ;
        box-sizing: border-box;
        position: fixed;
        z-index: 90;
    }
    /*ハンバーガーメニューの部分*/
    .trigger{
        position: absolute;
        width: 35px;
        height: 30px;
        z-index: 101;
    }
    .trigger_line{
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 5px;
        background-color:#666666;
        border-radius: 5px;
        opacity: 1;
        transition: transform .3s;
    }
    .trigger a:hover{
        opacity: 1;
    }
    .trigger span:nth-of-type(1){
        top:0;
    }
    .trigger span:nth-of-type(2){
        top: 12px;
    }
    .trigger span:nth-of-type(3){
        bottom: 0;
    }
    .trigger span:nth-of-type(1).active{
        top:12px;
        transform: rotate(135deg);
    }
    .trigger span:nth-of-type(2).active{
        transform:scaleX(0); 
    }
    .trigger span:nth-of-type(3).active{
        bottom:10px;
        transform: rotate(45deg);
    }
    .onanimation{
        display: block;
    }
    /*wrap部分*/
    .contentWrapper{
        width: 100%;
    }
    /*ヘッダの部分*/
    header{
        height:100%;
    }
    /*ヘッダのタイトル部分*/
    h1.bg-title{
        font-size: 3rem;
    }
    /*ヘッダのwrap部分*/
    header.contentWrapper{
        width: 100%;
        padding-top: 8rem;
    }
    /*works設定*/
    figure {
        width: 80%;
    }
    figure.works_image{
        width: 80%;
    }
    figcaption.works_caption{
        width: 100%;
        font-size: 0.8rem;
        text-align: center;
        align-items: center;
    }
    .works_caption p{
        width: 100%;
        padding:10px;
    }
}
